@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&family=DM+Serif+Display&family=Playfair+Display:wght@600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  background-color: #0d0d0d;
  /* background-color: #f2f2f2; */
  /* bg-[#0D0D0D] */
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

html {
  overflow-y: scroll;
  height: 100%;
}
body {
  overflow-y: visible;
  position: relative;
  overflow-x: hidden;
}

.containerRR {
  width: 600vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.panelR {
  width: 50vw;
  height: 70vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.radius {
  border-radius: 45px;
}
/* Color Theme Swatches in Hex */
.color-1 {
  color: #8b65bf;
}
.color-2 {
  color: #bfadd9;
}
.color-3 {
  color: #262626;
}
.color-4 {
  color: #f2f2f2;
}
.color-5 {
  color: #8c8c8c;
}

/* Color Theme Swatches in RGBA
.UI/UX-1-rgba {
  color: rgba(138, 101, 191, 1);
}
.UI/UX-2-rgba {
  color: rgba(191, 173, 216, 1);
}
.UI/UX-3-rgba {
  color: rgba(38, 38, 37, 1);
}
.UI/UX-4-rgba {
  color: rgba(242, 242, 242, 1);
}
.UI/UX-5-rgba {
  color: rgba(140, 140, 140, 1);
}

Color Theme Swatches in HSLA
.UI/UX-1-hsla {
  color: hsla(264, 41, 57, 1);
}
.UI/UX-2-hsla {
  color: hsla(264, 36, 76, 1);
}
.UI/UX-3-hsla {
  color: hsla(56, 0, 14, 1);
}
.UI/UX-4-hsla {
  color: hsla(0, 0, 95, 1);
}
.UI/UX-5-hsla {
  color: hsla(0, 0, 55, 1);
} */

.t-0 {
  top: 10%;
}
.l-0 {
  left: 0;
}

.bs {
  box-shadow: 0px 4px 4px 500px rgba(0, 0, 0, 0.25) inset;
}

/* h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", serif;
}*/

p {
  font-family: "Montserrat", sans-serif;
}

.subhead {
  font-weight: 400;
  letter-spacing: normal;
  text-decoration: none;
  font-size: 48px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.7;
  }
  50% {
    opacity: 0.3;
  }
}

.scroll-to-see {
  animation: blink 3s linear infinite;
}
